@font-face {
  font-family: "toyota_displaybold";
  src: url("fonts/toyotadisplay_bd-webfont.woff2") format("woff2"),
    url("fonts/toyotadisplay_bd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "toyota_textregular";
  src: url("fonts/text_rg-webfont.woff2") format("woff2"),
    url("fonts/text_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.Hybrid {
  font-family: "toyota_textregular";
  font-size: 1.3vw;
}
#a,
#b,
#c {
  display: none;
}
#a:target {
  display: block;
}
#b:target {
  display: block;
}
#c:target {
  display: block;
}

.Hybrid_Title {
  font-family: "toyota_displaybold";
  font-size: 2em;
  color: #007ccd;
  padding: 20px 0px;
}
.Hybrid_Blue {
  color: #007ccd;
}
.Hybrid_SubTitle {
  font-family: "toyota_displaybold";
  font-size: 1.2em;
  padding: 10px 0px;
  vertical-align: top;
}
.Hybrid_Text {
  font-size: 0.9em;
  margin: 20px auto 40px auto;
}
.text-left {
  text-align: left;
}

.Hybrid_content {
  width: 65%;
  min-width: 300px;
  text-align: center;
  margin: 0 auto;
}

.Hybrid_top {
  width: 100%;
  display: block;
  height: 72px;
  background-color: #ffffff;
  top: 0px;
  position: fixed;
  z-index: 2;
}

.Hybrid_menu {
  top: 72px;
  position: fixed;
  z-index: 2;
  text-align: right;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: 40px;
  line-height: 14px;
  display: block;
}
.Hybrid_menu ul li {
  display: inline-block;
  padding-right: 30px;
}
#Hybrid_Banner {
  width: 100%;
  margin-top: 112px;
}
#Hybrid_Banner img {
  width: 100%;
}

.col-100 {
  width: 100%;
  display: block;
}

.col-50 {
  width: 48%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.hibridNav {
  width: 40px;
  height: auto;
  text-align: center;
  display: block;
  cursor: pointer;
}
.hibridNav i {
  font-size: 3em;
  font-weight: bold;
  color: #007ccd;
  text-stroke: 2px #007ccd;
  -webkit-text-stroke: 2px #007ccd; /* background color */
}
.hybridNavLeft {
  position: absolute;
  left: 0px;
  top: 50%;
  z-index: 1;
}
.hybridNavRight {
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 1;
}

/* Line Up*/
#Hybrid_LineUp {
  width: 100%;
  padding: 0px 40px;
  position: relative;
  background-image: url("images/bg-lineup.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Hybrid_LineUp {
  position: relative;
}
#LineUp_prev {
  position: absolute;
  left: 0px;
  top: 50%;
}
#LineUp_next {
  position: absolute;
  right: 0px;
  top: 50%;
}

#owl_lineup .item {
  width: 99%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
/* .Line Up*/

/* Ada Apa */
#Hybrid_Adaapa {
  width: 100%;
  padding-top: 0px;
  background-image: url("images/bg-adaapa.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
#Hybrid_Adaapa img {
  width: 400px;
  margin-top: 40px;
  margin-bottom: 100px;
}

/* .Ada Apa */

/* Cara Kerja */
#HybridVid {
  position: relative;
}
#HybridVid .hibridNav {
  display: none;
}
#owl_vid img {
  width: 100%;
}
#owl_vid .item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.owl-thumb {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}
#owl_vid .owl-item {
  opacity: 0;
}
#owl_vid .owl-item.active {
  opacity: 1;
}
.thumb-item {
  width: 20%;
  float: left;
  background-color: #000000;
}
.thumb-item img {
  width: 100%;
  opacity: 0.6;
}
.thumb-item.active img {
  opacity: 1;
}
#Hybrid_Carakerja {
  width: 100%;
  padding-top: 0px;
  background-image: url("images/bg-carakerja.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
#owl_Carakerja .item img {
  width: 100%;
  margin: 0 auto;
}
.Carakerja-Desc {
  display: inline-block;
  vertical-align: top;
}

#Hybrid_Carakerja ol {
  padding-left: 20px;
}

#carakerjaDesc {
  width: 100%;
  display: block;
  position: relative;
}

/* .Cara Kerja */

/* Manfaat */

#Hybrid_Manfaat .col-6 {
  padding: 0px 40px;
}

#Hybrid_Manfaat1 {
  width: 100%;
  display: block;
  padding: 0px;
  background-image: url("images/bg-manfaat1.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
#Hybrid_Manfaat1 img {
  max-height: 65vh;
}
#Hybrid_Manfaat2 {
  width: 100%;
  display: block;
  padding: 100px 0px;
  position: relative;
  background-image: url("images/bg-manfaat2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#Hybrid_Manfaat3 {
  width: 100%;
  display: block;
  padding: 100px 0px;
  position: relative;
  background-image: url("images/bg-manfaat3.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

#Hybrid_Manfaat3 img {
  max-height: 50vh;
}
#Hybrid_Manfaat4 {
  width: 100%;
  display: block;
  padding: 100px 0px;
  position: relative;
  background-image: url("images/bg-manfaat4.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
#Hybrid_Manfaat5 {
  width: 100%;
  display: block;
  padding: 100px 0px 20px 0px;
  position: relative;
  background-image: url("images/bg-manfaat5.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
#Hybrid_Manfaat5 img {
  max-width: 70%;
  max-height: 50vh;
}

#Hybrid_Manfaat6 {
  width: 100%;
  display: block;
  padding: 100px 0px;
  position: relative;
  background-image: url("images/bg-manfaat6.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mask_grey_top {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100px;
  display: block;
  background: rgb(232, 241, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(232, 241, 255, 1) 0%,
    rgba(232, 241, 255, 0) 70%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(232, 241, 255, 1) 0%,
    rgba(232, 241, 255, 0) 70%
  );
  background: linear-gradient(
    180deg,
    rgba(232, 241, 255, 1) 0%,
    rgba(232, 241, 255, 0) 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8f1ff",endColorstr="#e8f1ff",GradientType=1);
}

.mask_grey_bottom {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  height: 100px;
  display: block;
  background: rgb(232, 241, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(232, 241, 255, 1) 0%,
    rgba(232, 241, 255, 0) 70%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(232, 241, 255, 1) 0%,
    rgba(232, 241, 255, 0) 70%
  );
  background: linear-gradient(
    0deg,
    rgba(232, 241, 255, 1) 0%,
    rgba(232, 241, 255, 0) 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8f1ff",endColorstr="#e8f1ff",GradientType=1);
}

/* .Manfaat */

/* Prestasi */
#Hybrid_Prestasi {
  width: 100%;
  margin-bottom: 40px;
  display: block;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecece+1,ffffff+33 */
  background: #cecece; /* Old browsers */
  background: -moz-linear-gradient(top, #cecece 1%, #ffffff 33%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #cecece 1%,
    #ffffff 33%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #cecece 1%,
    #ffffff 33%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#owl_prestasi .item {
  width: 100%;
  text-align: left;
  display: inline-flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
#owl_prestasi .item h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.prestasiCaption {
  color: #ffffff;
  font-size: 0.9em;
  width: 100%;
  bottom: 0px;
  padding: 30% 15px 0px 15px;
  position: absolute;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 32%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 32%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 32%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}
/* .Prestasi */

#Hybrid_Pertanyaan {
  width: 100%;
  display: block;
  padding-top: 50px;
  background-image: url("images/bg-faq.jpg");
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.pertanyaan {
  cursor: pointer;
  padding-top: 10px;
  color: #ffffff;
}

.pertanyaan:nth-child(even) {
  background-color: rgba(7, 146, 165, 0.9);
}
.pertanyaan:nth-child(odd) {
  background-color: rgba(7, 146, 165, 0.7);
}

.pertanyaanAnswer {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  color: #007ccd;
}

.pertanyaanAnswer p {
  max-width: 80%;
  margin: 20px auto;
}
.pertanyaanAnswer img {
  max-width: 80%;
  max-height: 40vh;
}
.pertanyaanArrow {
  padding: 10px 0px;
}

.hybridMobile {
  display: none;
}

@media only screen and (max-width: 544px) {
  body {
    min-width: 280px !important;
  }

  .hybridMobile {
    display: block;
  }
  .Hybrid_menu {
    overflow: auto;
  }
  .menuTumbsBlack {
    width: 630px;
  }
  .Hybrid {
    font-size: 4vw;
  }
  .Hybrid img {
    max-width: 100%;
  }

  .Hybrid_Title {
    font-size: 2em;
    padding: 10px 0px;
  }
  .Hybrid_Blue {
    color: #007ccd;
  }
  .Hybrid_SubTitle {
    font-size: 1.2em;
    padding: 10px 0px;
    vertical-align: top;
    text-align: left;
  }
  .Hybrid_Text {
    font-size: 1em;
    margin: 10px auto;
    text-align: left;
  }

  .Hybrid_content {
    width: 90%;
    min-width: 250px;
    text-align: center;
    margin: 0 auto;
  }

  /* Line Up*/
  #Hybrid_LineUp {
    padding: 20px 20px 0px 20px;
  }

  /* .Line Up*/

  /* Ada Apa */
  #Hybrid_Adaapa {
    padding-top: 20px;
  }
  #Hybrid_Adaapa .Hybrid_Text {
    text-align: center;
  }
  #Hybrid_Adaapa img {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  /* .Ada Apa */

  /* Cara Kerja */

  #HybridVid .hibridNav {
    display: block;
  }
  #Hybrid_Carakerja {
    padding-top: 20px;
  }
  #vidHybridLeft {
    left: -25px;
  }
  #vidHybridRight {
    right: -25px;
  }
  /* .Cara Kerja */

  /* Manfaat */

  #owl-thumb {
    display: none;
  }

  #Hybrid_Manfaat .col-6 {
    padding: 0px 40px;
  }

  #Hybrid_Manfaat1 {
    padding: 20px 0px;
  }
  #Hybrid_Manfaat1 img {
    max-height: 65vh;
  }
  #Hybrid_Manfaat2 {
    padding: 120px 0px;
  }

  #Hybrid_Manfaat2b {
    width: 100%;
    background-color: rgb(232, 241, 255);
  }

  #Hybrid_Manfaat3 {
    padding: 50px 15px;
  }
  #Hybrid_Manfaat3 .col-6 {
    padding: 0px;
  }

  #Hybrid_Manfaat3 img {
    max-height: 50vh;
  }
  #Hybrid_Manfaat3 .col-6 .Hybrid_Text {
    font-size: 0.8em;
  }
  #Hybrid_Manfaat4 {
    padding: 100px 0px;
  }

  #Hybrid_Manfaat4b {
    width: 100%;
    background-color: rgb(232, 241, 255);
  }

  #Hybrid_Manfaat5 {
    padding: 50px 0px 20px 0px;
  }
  #Hybrid_Manfaat5 img {
    max-width: 90%;
    max-height: 50vh;
  }

  #Hybrid_Manfaat6 {
    padding: 50px 0px;
  }

  .mask_grey_top {
    display: none;
  }

  .mask_grey_bottom {
    display: none;
  }

  /* .Manfaat */

  /* Prestasi */
  #Hybrid_Prestasi {
    padding: 0px;
    text-align: center;
  }

  #owl_prestasi .item {
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
  }
  /* .Prestasi */

  #Hybrid_Pertanyaan {
    padding-top: 20px;
  }
  .pertanyaan {
    cursor: pointer;
    padding-top: 10px;
    color: #ffffff;
    text-align: center;
  }

  .pertanyaan:nth-child(even) {
    background-color: rgba(7, 146, 165, 0.9);
  }
  .pertanyaan:nth-child(odd) {
    background-color: rgba(7, 146, 165, 0.7);
  }

  .pertanyaanTitle {
    width: 90%;
    margin: 0 auto;
  }
  .pertanyaanAnswer {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    color: #007ccd;
  }

  .pertanyaanAnswer p {
    max-width: 90%;
    margin: 20px auto;
  }
  .pertanyaanAnswer img {
    max-width: 90%;
    max-height: 40vh;
  }
  .pertanyaanArrow {
    padding: 10px 0px;
  }

  .hybridDesktop {
    display: none;
  }

  .carakerjaDesc {
    width: 100%;
    display: block;
    position: relative;
  }
}
